/*Fondo de página*/
body {
    background-color: #f5d6f5;
}
/*Barra de navegacion*/
.nav_header {
    background-color: rgb(234, 164, 248);
    height: 100px;
    padding: 0 30px;
   
}
/*contenedor de logo*/
.image {
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
}
/*Contenedor de boton contacto*/
.button {
        float: right;
        vertical-align:middle;
        margin-top: 30px;
}
/*Boton contacto*/
.contacto {
    display: inline-block;
    border: 5px solid violet;
    border-radius: 15px;
    background-color: rgb(251, 213, 252);
    text-decoration: none;
    height: 40px;
    font-size: 30px;
    font-family: cursive;
}
/*MAIN*/
h2 {
    text-align: center;
    font-size: 50px;
}
h3 {
    text-align: center;
    font-size: 40px;
}
.image_Emira {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*TABLA DE INFORMACION*/
.presentacion {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    text-align: center;
}
  
.presentacion th,
.presentacion td {
    border: 6px solid #e78af1;
    padding: 15px;
    font-size: 20px;
}
  
.presentacion th {
    background-color: #eca3fe;
    font-size: 30px;
}
  
.presentacion td {
    background-color: #f1c4fc;
}

/*FOOTER*/
footer { 
    border: 5px solid rgb(175, 98, 243); 
    border-radius: 15px;
    margin-top: 100px;
    
}
/*BARRA NAVEGACION CON LOGOS*/
.nav_footer {
    text-align: center;
    
}
.nav_footer img {
    vertical-align: middle;
    margin: 0 40px;
}


/*ESTILOS PAGINA CONTACTO*/

.mensaje_contacto {
    text-align: center;
}

.form {
    text-align: center;
    font-family: fantasy;
    font-size: 25px;
}

/*ENVIO DE DATOS*/

#enviar {
    margin-top: 30px;
    border: 5px solid violet;
    border-radius: 15px;
    background-color: rgb(251, 213, 252);
    text-decoration: none;
    height: 60px;
    font-size: 30px;
    font-family: cursive;

}